.imageSlide {

    height: fit-content;

}

#title {
    font-family: 'Yeon Sung', cursive;
    color: #EAFBEA;
    display: flex;
    margin-left: 40%;
}

.custom:visited {
    background-color: #343a40;
    color: white;
    border: none;
}

.custom:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
}

.movieGenres {
    display: flex;
    justify-content: space-around;
    border: 1px solid #343a40;
    width: 100%;
    background-color: #343a40;
    border-radius: 20px;
}

#movieInput {
    padding-top: 20px;
}

body {
    height: 100vh;

    background-image: linear-gradient(grey, #719192, #DFCDC3);
}

.card-img-top {
    margin-top: 15px;
    padding: 5px;

}

#iRate {

    margin: 50px;
}

.card-body,
.card {
    text-align: center;
    background-image: linear-gradient(#BEEBE9, #FFE3ED);
    width: 100%
}

.main-Title {
    font-family: 'Yeon Sung', cursive;
    color: #EAFBEA
}

.btn {
    font-family: 'Kalam', cursive;
}

#movieCard {

    width: 100%;

}